.pr-create >.pr-wrapper >.main-content >.left >.pr-main-title{
    font-size: calc(var(--pr-font-size-base) + 32px);
    font-weight: 800;
    max-width: 415px;
    margin-bottom: 40px;
}

.pr-create >.pr-wrapper >.main-content >.left >.pr-button {
    margin-top: 35px;
}

.pr-create >.pr-wrapper >.main-content >.left {
    max-width: 368px;
    margin: auto;
}