/* we separated the components into their files, in the respective page file, 
we left only the page's own styles and not the components. */

/* Radio button and login title section */
.pr-login >.pr-wrapper >.main-content >.left{
    max-width: 450px;
    margin: 0 auto;
}

.pr-login >.pr-wrapper >.main-content >.left >.radio-buttons{
    margin-bottom: 42px;
}

.pr-login >.pr-wrapper >.main-content >.left >.radio-buttons >.pr-login-title{
    font-size: calc(var(--pr-font-size-base) + 8px);
    font-weight: 800;
    margin-bottom: 16px;
}

.pr-login >.pr-wrapper >.main-content >.left >.radio-buttons >.buttons >.pr-radio{
    margin-right: 70px;
}

/* Main title section */

.pr-login >.pr-wrapper >.main-content >.left >.pr-main-title{
    font-weight: 800;
    margin-bottom: 40px;
}

.pr-login >.pr-wrapper >.main-content >.left >.pr-main-title >.up{
    font-size: calc(var(--pr-font-size-base) + 38px);
    display: block;
    margin-bottom: 7px;
}

.pr-login >.pr-wrapper >.main-content >.left >.pr-main-title >.down{
    font-size: calc(var(--pr-font-size-base) + 22px)
}

.pr-login >.pr-wrapper >.main-content >.left >.steps{
    display: block;
    font-weight: 800;
    font-size: calc(var(--pr-font-size-base) + 4px);
    color: var(--pr-color-gray);
    font-family: Helvetica;
    margin-bottom: 13px;
}