.pr-header{
    height: var(--pr-header-size);
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
}

.pr-header >.wrapper{
    max-width: var(--pr-main-wrapper);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.pr-header >.wrapper.-has-user{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

/* Logo */
.pr-header >.wrapper >.logo-wrapper{
    height: var(--pr-header-size);
    padding: 16px 0;
}

.pr-header >.wrapper >.logo-wrapper >.image{
    height: 100%;
}

/* Imagem usuário. */
.pr-header >.wrapper >.user{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.pr-header >.wrapper >.user >.info{
    text-align: right;
}

.pr-header >.wrapper >.user >.info >.name{
    display: block;
    font-weight: 800;
    font-size: calc(var(--pr-font-size-base) + 4px);
    margin-bottom: 3px;
}

.pr-header >.wrapper >.user >.info >.role{
    display: block;
    font-weight: 400;
    font-size: calc(var(--pr-font-size-base) + 2px);
}

.pr-header >.wrapper >.user >.photo-wrapper{
    margin-left: 16px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--pr-color-primary);
    overflow: hidden;
}

.pr-header >.wrapper >.user >.photo-wrapper >img{
    height: 100%;
    width: 100%;
}